@import "../utils";

html {
  font-size: $font-size-base;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: $body-min-width;
  background: $body-color-bg;
  color: $body-color;
  @include font-family($body-font-family);
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: 0;
  background: none;
}

[data-hidden="true"] {
  display: none !important;
}