@import "../utils";

h1,
h2,
h3,
h4,
h5,
h6, {
  line-height: $heading-line-height;
}

h1, h2, h3 {
  @include font-family($font-family-heading);
  font-weight: bold;
}

h6 {
  @include font-family($font-family-primary);
}

.text-sm-10 {

}

.text-sm-20 {
  font-size: clamp(#{$font-size-14}, 2.8vw, #{$font-size-16});
}

.text-sm-30 {
  font-size: clamp(#{$font-size-18}, 3vw, #{$font-size-20});
}

.text-sm-40 {
  font-size: clamp(#{$font-size-18}, 3.2vw, #{$font-size-24});
}

.text-md-10 {
  font-size: clamp(#{$font-size-20}, 2.8vw, #{$font-size-24});
}

.text-lg-10 {
  font-size: clamp(#{$font-size-30}, 4vw, #{$font-size-48});
}


a {
  vertical-align: middle;
  color: $red-400;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $grey-500;
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: $paragraph-line-height;

  & + p {
    margin-top: 1.4rem;
  }
}

b,
strong {
  font-weight: bold;
}

input,
select,
textarea,
button {
  @include font-family($font-family-primary);
}