@import "../utils";

h1,
h2,
h3,
h4,
h5,
h6, {
  @include font-family($font-family-heading);
  line-height: $heading-line-height;
}

h1, .text-h1,
h2, .text-h2 {
  font-size: $font-size-30;
  font-weight: bold;

  @include md {
    font-size: $font-size-34;
  }

  @include lg {
    font-size: $font-size-42;
  }

  @include xl {
    font-size: $font-size-48;
  }
}

h3, .text-h3 {

}

h6, .text-h6 {
  font-size: $font-size-18;

  @include md {
    font-size: $font-size-20;
  }
}

a {
  vertical-align: middle;
  color: $red-400;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $grey-500;
  }
}

p {
  // font-size: $font-size-18;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: $paragraph-line-height;

  //@include sm {
  //  font-size: $font-size-20;
  //}

  & + p {
    margin-top: 1.4rem;
  }
}

.text-sm {
  font-size: $font-size-14;

  @include lg {
    font-size: $font-size-16;
  }
}

.text-md {
  font-size: $font-size-20;

  @include lg {
    font-size: $font-size-24;
  }
}

.text-lg {
  font-size: $font-size-18;

  @include md {
    font-size: $font-size-22;
  }

  @include lg {
    font-size: $font-size-24;
  }
}

b,
strong {
  font-weight: bold;
}

input,
select,
textarea,
button {
  @include font-family($font-family-primary);
}