@import "../../../styles/utils";

.tileItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;

  @include sm {
    margin: -10px;
  }

  @include lg {
    margin: -15px;
  }
}


.tileItem {
  position: relative;
  flex: 1 100%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 40px 20px;
  text-align: center;

  box-shadow: 0 20px 50px rgba($black, 0.1);
  border-radius: 5px;

  &.dark {
    background: $grey-500;
    color: $white;

    .tileTitle {
      color: $white;
    }

    .icon {
      stroke: $blue-100;
    }
  }

  @include xs {
    min-width: 160px;
    margin: 10px;
  }

  @include md {
    min-width: auto;
  }

  @include lg {
    margin: 15px;
  }
}

.tileItemsCol-3 .tileItem {
  max-width: 515px;

  @include xs {
    flex: 1 calc(50% - 20px);
  }

  @include md {
    flex: 1 calc(33.33% - 20px);
  }

  @include lg {
    flex: 1 calc(33.33% - 30px);
  }
}

.tileItemsCol-4 .tileItem {
  max-width: 300px;

  @include xs {
    flex: 1 calc(50% - 20px);
  }

  @include md {
    flex: 1 calc(25% - 20px);
  }

  @include lg {
    flex: 1 calc(25% - 30px);
  }
}


.tileIcon,
.tileHeading {
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  stroke: $blue-300;
}

.tileBtn {
  margin-top: auto;
}

.btn {
  margin-top: 20px;
}