@import "../../styles/utils";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.banner {
  position: relative;
  flex: 1 100%;
  margin: 15px;
  height: 260px;

  @include sm {
    height: 300px;
  }

  @include md {
    flex: 1 calc(50% - 30px);
  }

  &:first-child {
    .image img {
      object-position: right;
    }
  }

  &:last-child {
    .image img {
      object-position: left;
    }
  }
}