@import "../../styles/utils";

.wrapper {
  display: flex;
  align-items: center;
  padding: clamp(30px, 8vw, 110px) clamp(30px, 10vw, 130px);
  background: $grey-600;

  @include not-md {
    flex-direction: column;
    text-align: center;
  }
}

.col {
  flex: 1;

  &:first-child {
    flex: 0 1 55%;
  }

  @include md {
    &:first-child {
      padding-right: 30px;
    }

    &:last-child {
      padding-left: 30px;
    }
  }

  @include not-md {
    &:first-child {
      margin-bottom: 30px;
    }
  }
}

.title + .text {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}