@import "../../../styles/utils";

.breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 0;

  @include md {
    padding: 32px 0;
  }
}

.crumb {
  display: inline-flex;
  padding: 4px 0;
}

.crumbLink {
  color: $grey-500;

  &:hover {
    color: $red-400;
  }
}

.separator {
  display: flex;
  align-items: center;
  margin: 1px 20px 0 20px;
}

.icon {
  width: 6px;
  height: 6px;
  stroke: $grey-500;
  transform: rotate(-90deg);
}
