@import "../../styles/utils";

.btn {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: 200ms all ease-out;
  @include noselect;
}

// variants
.btn {
  .icon {
    height: 8px;
    width: 8px;
    margin-left: 10px;
    stroke: currentColor;
    transition: 200ms transform ease-out;
  }

  // primary
  &-primary {
    background: $red-400;
    color: $white;

    &:hover,
    &:active {
      color: $white;
      background: $red-300;

      .icon {
        transform: translateX(3px);
      }
    }
  }

  // secondary
  &-secondary {
    background: $red-400;
    color: $white;
    border: 2px solid currentColor;

    &:hover,
    &:active {
      color: $white;
      background: $red-300;
    }
  }
}

// sizes
.btn {
  &-sm {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 8px;

    @include xs {
      padding: 8px 25px;
      font-size: 14px;
    }
  }

  &-md {
    padding: 14px 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
  }

  &-lg {
    padding: 20px 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;

    @include md {
      font-size: 16px;
    }
  }
}

.btn {
  &-gutter-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &-full-width {
    width: 100%;
  }
}