@import "../../styles/utils";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: 200ms all ease-out;
  @include noselect;
}

// variants
.btn {
  .icon {
    height: 8px;
    width: 8px;
    margin-left: 10px;
    margin-top: 2px;
    stroke: currentColor;
    transition: 200ms transform ease-out;
  }

  &:hover,
  &:active {
    .icon {
      transform: translateX(3px);
    }
  }

  // primary
  &-primary {
    background: $red-400;
    color: $white;

    &:hover,
    &:active {
      color: $white;
      background: darken($red-400, 10%);
    }
  }

  // secondary
  &-secondary {
    background: $red-400;
    color: $white;
    border: 1px solid currentColor;

    &:hover,
    &:active {
      color: $red-400;
      background: $white;
      border: 1px solid rgba($red-300, .5);
    }
  }

  // third
  &-third {
    background: transparent;
    color: $blue-100;
    border: 2px solid $blue-100;

    &:hover,
    &:active {
      color: $black;
      background: $blue-100;
      border: 2px solid $blue-100;
    }
  }
}

// sizes
.btn {
  &-sm {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 8px;

    @include xs {
      font-size: 14px;
    }

    @include sm {
      padding: 8px 25px;
    }
  }

  &-md {
    padding: 14px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;

    @include sm {
      padding: 14px 50px;
    }
  }

  &-lg {
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;

    @include sm {
      padding: 14px 50px;
    }

    @include md {
      font-size: 16px;
    }
  }
}

.btn {
  &-gutter-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &-full-width {
    width: 100%;
  }
}