@import "../../styles/utils";

.wrapper {
  display: flex;
  align-items: center;
  padding: clamp(30px, 8vw, 60px) clamp(30px, 10vw, 130px);
  background: $blue-400;

  @include not-md {
    flex-direction: column;
  }
}

.col {
  flex: 1;

  &:first-child {
    flex: 0 1 45%;
    padding-right: 50px;

    @include not-md {
      margin-bottom: 30px;
      padding-right: 0;
      text-align: center;
    }
  }
}

.contactItem {
  display: flex;
  align-items: center;
  color: $white;

  @include not-sm {
    flex-direction: column;
    text-align: center;
  }

  a[href^="mailto"] {
    text-decoration: underline;
  }
}

.contactItem + .contactItem {
  margin-top: 15px;
}

.contactLabel {
  flex: 1;
  padding-right: 20px;

  @include not-sm {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.contactText {
  flex: 1;
  max-width: 180px;

  @include not-sm {
    flex: auto;
  }
}

.contactNote {
  color: $blue-100;
}