@import "../../../styles/utils";

.wrapper {
  display: flex;

  @include not-md {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}

.content {
  flex: 1 80%;
}

.image {
  flex: 0 1 360px;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.content {
  @include md {
    padding-left: clamp(40px, 5vw, 100px);
  }
}