@import "../../styles/utils";

.promo {
  position: relative;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.bgImageWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 980px;
}

.bgImage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  max-width: 240px;

  @include min-landscape {
    height: 360px;
  }

  @include sm {
    max-width: 430px;
  }

  @include lg {
    max-width: 580px;
    height: 540px;
  }

  @include xl {
    height: 620px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(#{$font-size-42}, 6vw, #{$font-size-60});
}

.text {
  margin-bottom: 30px;
}