@import "../../../styles/utils";

.wrapper {
  display: grid;

  @include sm {
    grid-template-columns: 1fr 1fr;
  }
}

.list {
  border: 1px solid red;

  @include lg {
    grid-row: 1/3;
  }
}

.image {
  grid-row: 1;

  border: 1px solid green;

  @include sm {
    grid-column: 1/3;
  }

  @include lg {
    grid-column: 2;
  }
}

.text {
  border: 1px solid blue;
}
