@import "../../styles/utils";

.title {
  margin-bottom: 20px;
  text-align: center;

  @include sm {
    margin-bottom: 40px;
  }
}

.btn {
  margin-top: 20px;
  text-align: center;

  @include sm {
    margin-top: 30px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  @include lg {
    gap: 30px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 410px;
  padding: 40px 30px 60px 30px;
  text-align: center;
  box-shadow: 0 20px 50px rgba($black, 0.1);
  border-radius: 5px;

  @include not-sm {
    padding: 20px;
  }
}

.image {
  position: relative;
  width: clamp(190px, 20vw, 290px);
  height: clamp(190px, 20vw, 290px);
  margin: 0 auto 25px auto;

  img {
    border-radius: 50%;
  }
}

.title, .rating, .text {
  margin-bottom: 20px;
}

.name, .location {
  display: block;
}

.name {
  margin-top: auto;
  margin-bottom: 5px;
}