@import "../../../styles/utils";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: 200ms all ease-out;
  @include noselect;

  .icon {
    height: 8px;
    width: 8px;
    margin-left: 10px;
    margin-top: 2px;
    stroke: currentColor;
    transition: 200ms transform ease-out;
  }

  &:hover,
  &:active {
    .icon {
      transform: translateX(3px);
    }
  }

  .loading {
    margin-left: 10px;
  }
}

// variants
.primary {
  background: $red-400;
  color: $white;
  border: 1px solid transparent;

  &:hover,
  &:active {
    color: $white;
    background: $red-500;
    border: 1px solid rgba($red-300, .5);
  }

  &:disabled {
    &,
    &:hover,
    &:active {
      color: $white;
      background: rgba($red-400, .5);
      border: 1px solid transparent;
      cursor: no-drop;
    }
  }
}

// secondary
.secondary {
  background: $red-400;
  color: $white;
  border: 1px solid currentColor;

  &:hover,
  &:active {
    color: $red-500;
    background: $white;
    border: 1px solid rgba($red-300, .5);
  }
}

// third
.third {
  background: transparent;
  color: $blue-100;
  border: 2px solid $blue-100;

  &:hover,
  &:active {
    color: $black;
    background: $blue-100;
    border: 2px solid $blue-100;
  }
}

// four
.four {
  background: $white;
  color: $red-400;
  border: 2px solid currentColor;

  &:hover,
  &:active {
    color: $white;
    background: $red-400;
    border: 2px solid lighten($red-400, 20%);
  }
}

// sizes
.sm {
  height: 30px;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 8px;

  @include xs {
    font-size: 14px;
  }

  @include sm {
    padding: 0 25px;
  }
}

.md {
  height: 40px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;

  @include sm {
    height: 46px;
    padding: 0 50px;
  }
}

.lg {
  height: 46px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;

  @include sm {
    height: 56px;
    padding: 0 50px;
  }

  @include md {
    font-size: 16px;
  }
}

.fullWidth {
  width: 100%;
}

.gutter {
  &-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
