@import "../../styles/utils";

.subtitle, .heading {
  text-align: center;
}

.subtitle {
  margin-bottom: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.firstUppercase {
  .firstLetter {
    margin-right: 20px;
    font-size: clamp(100px, 10vw, 144px);
    line-height: 0;
  }

  .title {
    text-align: left;
    @include not-sm {
      max-width: 180px;
    }
  }
}