@import "../../styles/utils";

.wrapper {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  color: $grey-300;
}

.formField {
  margin: 8px 0;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  font-size: $font-size-14;
  color: $grey-300;
  border: 1px solid $grey-200;
  border-radius: 10px;
}

.formFieldAgree {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.formAgreeControl {
  display: none;

  &:not(:checked) {
    & + .formAgreeCheck:after {
      content: "";
    }
  }
}

.formAgreeCheck {
  flex: 0 0 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey-600;
  border-radius: 2px;
  cursor: pointer;

  &:after {
    content: "\2713";
    position: relative;
    font-size: $font-size-12;
    font-weight: bold;
    color: $white;
  }
}

.formAgreeText {
  margin-left: 10px;
  color: $grey-300;
  font-size: $font-size-14;
  text-align: left;
}