@import "../../../styles/utils";

.nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, .8);
  visibility: hidden;
  opacity: 0;
  transition: 200ms all ease-in;

  &.open {
    opacity: 1;
    visibility: visible;

    .inner {
      transform: translateX(0);
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 300px;
  min-width: 220px;
  background: $white;
  transform: translateX(100%);
  transition: 300ms transform ease-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 10px;
  background: $grey-200;
  border-bottom: 1px solid $red-400;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: right;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 6px 0;
}

.menu {
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 20px;
      font-size: $font-size-16;
      color: $grey-500;
      border-bottom: 1px solid $grey-200;

      &.active {
        background: $red-400;
        color: $white;

        svg {
          stroke: currentColor;
        }
      }
    }

    &.childItem {
      background: $grey-100;
    }
  }
}